!include_try /usr/share/dovecot/protocols.d/*.protocol
protocols = imap lmtp
listen = *, ::

# Auth
disable_plaintext_auth = yes
auth_mechanisms = plain login
auth_username_format = %n
passdb {
  driver = pam
}
userdb {
  driver = passwd
}

# Logging
log_path = /var/log/dovecot.log

# Mailbox
mail_location = maildir:~/.mail
namespace inbox {
  type = private
  inbox = yes
  hidden = no
  list = yes
  subscriptions = yes
}
mail_privileged_group = mail
mail_access_groups = mail

# Master
service imap-login {
  inet_listener imaps {
    port = 993
    ssl = yes
  }
}

service lmtp {
  unix_listener /var/spool/postfix/private/dovecot-lmtp {
    mode = 0600
    user = postfix
    group = postfix
  }
}

protocol lmtp {
  postmaster_address = postmaster@{{ domain }}
  mail_plugins = $mail_plugins sieve
}

service auth {
  unix_listener /var/spool/postfix/private/auth {
    mode = 0660
    user = postfix
    group = postfix
  }
}

# SSL
ssl = yes
ssl_cert = <{{ imap.conf.ssl.cert }}
ssl_key = <{{ imap.conf.ssl.key }}
ssl_ca = <{{ imap.conf.ssl.ca }}
ssl_dh = <{{ imap.conf.ssl.dh }}
ssl_min_protocol = TLSv1.2
ssl_cipher_list = HIGH:!aNULL:!MD5:!3DES:!RC4:!DSS:!SHA1:!SHA256:!SHA384:!CAMELLIA128:!CAMELLIA256
ssl_prefer_server_ciphers = yes

# Mailbox definitions
namespace inbox {
  mailbox Drafts {
    special_use = \Drafts
  }
  mailbox Sent {
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    special_use = \Sent
  }
  mailbox Archive {
    special_use = \Archive
  }
  mailbox Spam {
    special_use = \Junk
  }
  mailbox Trash {
    special_use = \Trash
  }
}

# Sieve
plugin {
  sieve_plugins = sieve_extprograms
  sieve_extensions = +vnd.dovecot.pipe
  sieve_pipe_bin_dir = /etc/dovecot/sieve-pipe
}

plugin {
  imapsieve_mailbox1_name = Spam
  imapsieve_mailbox1_causes = COPY
  imapsieve_mailbox1_before = file:/etc/dovecot/sieve/learn-spam.sieve
  
  imapsieve_mailbox2_name = *
  imapsieve_mailbox2_from = Spam
  imapsieve_mailbox2_causes = COPY
  imapsieve_mailbox2_before = file:/etc/dovecot/sieve/learn-ham.sieve
}
