- name: Install mariaDB
  ansible.builtin.apt:
    install_recommends: false
    name:
      - mariadb-server
      - mariadb-client
      - python3-mysqldb
    update_cache: true
  notify:
    - Restart mariadb
- name: Check for initial installation done file
  ansible.builtin.stat:
    path: /root/.mysql_root_password_set
  register: mysql_root_password_set
- name: Set root password
  community.mysql.mysql_user:
    name: "{{ database.mysql.root.user }}"
    host: "{{ database.mysql.ip4 }}"
    password: "{{ database.mysql.root.password }}"
    login_unix_socket: "{{ database.mysql.socket }}"
    check_implicit_admin: true
    column_case_sensitive: true
    priv: "*.*:ALL,GRANT"
    state: present
  when: not mysql_root_password_set.stat.exists
  notify:
    - Remove anonymous users
    - Disable remote root login
    - Remove test database
    - Create initial installation done file
- name: Install redis
  ansible.builtin.apt:
    install_recommends: false
    name:
      - redis-server
      - redis-tools
    update_cache: true
  notify:
    - Restart redis-server
- name: Configure redis
  ansible.builtin.template:
    src: templates/redis/redis.conf.j2
    dest: /etc/redis/redis.conf
    owner: root
    group: root
    mode: "0644"
  notify:
    - Restart redis-server
