#!/usr/bin/env bash

set -eo pipefail
# set -x

RSPAM_DKIM_DIR="/var/lib/rspamd/dkim"
DOMAIN="{{ hostname_fqdn.split('.')[1:] | join('.') }}"
PRIVATE_KEY="${RSPAM_DKIM_DIR}/${DOMAIN}.mail.key"
PUBLIC_KEY="${RSPAM_DKIM_DIR}/${DOMAIN}.mail.pub"

if [ -e "${PRIVATE_KEY}" ]; then
  echo "Private key already exists: ${PRIVATE_KEY}"
  exit 0
fi

mkdir -p /var/lib/rspamd/dkim
rspamadm dkim_keygen \
  --domain ${DOMAIN} \
  --selector mail \
  --privkey "${PRIVATE_KEY}" \
  --type ED25519 \
  > "${PUBLIC_KEY}"

chown -R _rspamd:_rspamd "${RSPAM_DKIM_DIR}"
chmod 0600 "${PRIVATE_KEY}"
