- name: Restart mariadb
  ansible.builtin.systemd:
    name: mariadb
    state: restarted
    enabled: true
- name: Reload mariadb
  ansible.builtin.systemd:
    name: mariadb
    state: reloaded
    enabled: true
- name: Remove anonymous users
  community.mysql.mysql_user:
    name: ""
    host_all: true
    state: absent
    login_user: "{{ database.mysql.root.user }}"
    login_password: "{{ database.mysql.root.password }}"
- name: Disable remote root login
  community.mysql.mysql_user:
    name: "{{ database.mysql.root.user }}"
    host: "{{ database.mysql.ip }}"
    state: absent
    login_user: "{{ database.mysql.root.user }}"
    login_password: "{{ database.mysql.root.password }}"
  loop:
    - "%"
    - "::1"
- name: Remove test database
  community.mysql.mysql_db:
    name: test
    state: absent
    login_user: "{{ database.mysql.root.user }}"
    login_password: "{{ database.mysql.root.password }}"
- name: Create initial installation done file
  ansible.builtin.file:
    path: /root/.mysql_root_password_set
    state: touch
    mode: '0600'
    owner: root
    group: root
  when: not lookup('file', '/root/.mysql_root_password_set', errors='ignore')
- name: Restart redis-server
  ansible.builtin.systemd:
    name: redis-server
    state: restarted
    enabled: true
