compatibility_level = 3.6

mydomain = {{ domain }}
myhostname = {{ hostname_fqdn }}
myorigin = $mydomain
inet_interfaces = all
inet_protocols = all

mynetworks = 127.0.0.0/8 [::1]/128

# SMTP defaults
smtpd_relay_restrictions = 
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_unauth_destination

smtpd_recipient_restrictions = 
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_unauth_destination

smtpd_sender_restrictions =
    permit_mynetworks,
    permit_sasl_authenticated,
    reject_authenticated_sender_login_mismatch,
    reject_unknown_sender_domain

# SSL
smtpd_tls_cert_file = {{ mail.ssl.cert }}
smtpd_tls_key_file = {{ mail.ssl.key }}
smtpd_use_tls = yes
smtpd_tls_security_level = may
smtpd_tls_auth_only = yes

smtpd_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtpd_tls_ciphers = high
smtpd_tls_mandatory_ciphers = high

smtp_tls_protocols = !SSLv2, !SSLv3, !TLSv1, !TLSv1.1
smtp_tls_ciphers = high
smtp_tls_mandatory_ciphers = high

smtpd_tls_received_header = yes
smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth

smtpd_banner = $mydomain ESMTP

# LMTP -> dovecot
virtual_transport = lmtp:unix:private/dovecot-lmtp
# local_transport = error:local delivery disabled

mydestination = localhost
virtual_mailbox_domains = $mydomain $myhostname

# Mail aliases
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
virtual_alias_maps = hash:/etc/valiases

# RSpamd
smtpd_milters = inet:127.0.0.1:{{ mail.rspamd.milter_port }}
non_smtpd_milters = inet:127.0.0.1:{{ mail.rspamd.milter_port }}
milter_default_action = accept
milter_protocol = 6
