server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2;
    server_name status.{{ domain }};
    root /var/www/html;
    index index.html index.php;

    include conf-server/ssl.conf;
    include conf-server/security.conf;
    include conf-server/general.conf;
    include locations-available/letsencrypt.conf;

    # index.html fallback
    location / {
        try_files $uri $uri/ /index.html;
    }

    # handle .php
    location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php-fpm.sock;
        include      conf-server/php-fpm.conf;
    }
}
